 JAI MAA SARASWATI

Q :- WHAT IS A DATABASE ? DIFFERENTIATE BETWEEN SQL AND NoSQL DATABASES .

^_^ A DATA BASE IS ORGANISED COLLECTION OF STRUCTURED INFORMATION AND DATA , TYPICALLY STORED ELECTRONICALLY IN A 
    COMPUTER SYSTEM . A DATA BASE IS USUALLY CONTROLLED BY DBMS( DATA BASE MANAGEMENT SYSTEM ) . TOGETEHER , THE DATA 
    AND DBMS , ALONG WITH THE APPLICATION THAT ARE ASSOCIATED WITH THEM , AND THEIR DATA ARE TRANSFER OR REFFFERD TO
    DATA BASE TO STORE THEIR IMPORTANT DATA AND SEACURE THEIR DATA .
    
+_+  DATA WITHIN THE MOST COMMON TYPES OF DATABASES IN OPERATION TODAY IS TYPICALLY MODELED IN ROWS & COULMNS IN SERIES
    OF TABLES TO MAKE PROCESSING AND DATA QUERING EFFICIENT . THE DATA CAN EASYILY CAN BE ACCESSED , MANAGED , MODIFIED
    UPDATED , CONTROLLED AND ORGANIZED  . MOST DATABASED USE STRUCTURED QUERY LANGUAGE(SQL) FOR WRITING AND QUERYING .
    
    
*_* THE DIFFERNCE BETWEEN SQL AND NO SQL ARE :-

(i) THE SQL DATA BASE ARE RELATIONAL WHILE NO SQL DATA ARE NON-RELATIONAL  
(ii) THE SQL DATA BASE USE STRUCTURED QUERY LANGUAGE(SQL) AND HAVE A PREDEFINED SCHEMA . NO SQL DATA HAVE A 
     DYNAMIC SCHEMA FOR UNSTRUCTURED DATA .
(iii) SQL DATA BASE ARE VERTICALLY SCALABLE WHILE NO SQL DATA BASE HORIZONTALLY SCALABLE.
(iv) SQL DATA BASE ARE TABLE-BASED, WHILE NO SQL DATA BASE ARE DOCUMENT, KEY-VALUE, GRAPH , OR WIDE COLUMN-STORES.
(v) SQL DATA BASE ARE BETTER FOR MULTI-ROW TRANSACTIONS , WHILE NoSQL DATA ARE BETTER FOR UNSTRUCTURED DATA LIKE
    DOCUMENT AND JSON

 Q => WHAT IS DDL ? EXPLAIN WHY CREATE , DROP , ALTER , AND TRUNCATE ARE USED WITH AN EXAMPLE .

^_^ DDL STAND FOR DATA DEFINITION LANGUAGE . IT IS A SUBSET OF STRUCTURED QUERY LANGUAGE(SQL) USED 
    FOR DEFINING AND MANAGING THE STRUCTURE OF RELATIONAL DATABASE . DDL STATEMENT ARE RESPONSIBLE 
    FOR DEFING THE DATABASE SCHEMA, INCLUDING CREATING , ALTERING & DELETING TABLES AND OTHER DATABSE
    OBJECT . DDL STATEMENTS ARE ESSENTIAL FOR DATABASE ADMINISTRATORS AND DEVELOPER WHEN DESIGNING 
    AND MAINTAING THE DATABASE . THEY DEFINES THE RULES AND RELATIONSHIP THAT GOVERN THE DATA 
    STORED IN THE DATABSE .
    
*_* COMMON DDL STATEMENT INCLUDE :-   
    * CREATE => CREATE ARE USED TO CREATE A DABATBASE OBJECT LIKE TABLES , INDEX OR VIEWS.
    * ALTER => ALTER ARE USED TO MODIFY EXISTING DATABASE OBJECT SUCH AS ADDING AND DROPING THE COLUMNS TABLE .  
    * DROP => DROP ARE USED TO DELETE A DATABASE OBJECT , SUCH AS TABLE OR INDEX .
    * TRUNCATE => TRUNCATE ARE USE FOR REMOVES ALL THE RECORDS FROM THE TABLE , BUT REATINS THE STRUCTURE 
                  FOR FUTURE USE.
    
    
let us taking of these statement :-

In [6]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists ss.create_table(c1 INT , c2 VARCHAR(50) , c3 FLOAT , c4 INT , c5 VARCHAR(30))")
mydb.close()
# FROM THE ABOVE EXAMPLE SHOWS THAT HOW WE CAN CREATE TABLE WITH THE HELP OF "CREATE"

In [7]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("insert into ss.create_table values(123 , 'sitashubham' , 5656.565 , 454,'sshubham')")
mydb.commit()
mydb.close()

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("select * from ss.create_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

(123, 'sitashubham', 5656.56, 454, 'sshubham')

In [14]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE ss.create_table ADD COLUMN salary DECIMAL(10,2)")
mycursor.close()

True

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("insert into ss.create_table values(123 , 'sitashubham' , 5656.565 , 454,'sshubham' , 526.5)")
mydb.commit()
mydb.close()

In [17]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("select * from ss.create_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()
# FROM THE ABOVE EXAMPE SHOWS THAT HOW WE CAN MODIFY OUR TABLE WITH THE HELP OF "ALTER"

(123, 'sitashubham', 5656.56, 454, 'sshubham', None)
(123, 'sitashubham', 5656.56, 454, 'sshubham', Decimal('526.50'))

In [18]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE ss.create_table ")
mycursor.close()
# FROM THE ABOVE THE EXAMPLE SHOWS THAT HOW WE CAN REMOVE THE ALL DATA FROM THE TABLE BUT REMAIN THE STRUCTURE OF THE TABLE FOR THE FUTURE USE .

True

In [20]:
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE ss.create_table")
mycursor.close
# WITH THE HELP OF DROP TABLE WE CAN DELETE THE TABLE PARMANENTLY IT CLEAR THE TABLE FROM THE DATABASE .

FROM THE ALL ABOVE THE EXAMPLE SHOWS THAT HOW WE CAN CREATE THE TABLE AND MODIFY THE TABLE AND DO SOME OTHER PROCESS .

Q => WHAT IS DML ? EXPLAIN INSERT , UPDATE , DELETE WITH AN EXAMPLE .

^_^ DML STAND FOR DATA MANIPULATING LANGUAGE(DML) . IT IS A SUBSET OF SQL(STRUCTURED QUERY LANGUAGE ) USED 
FOR MANAGING AND STORE THE DATA IN THE RELATIONAL DATABASE . 

DML CONSISTS OF THESE BASIC COMMANDS :-

+_+ SELECT : IT IS USED FOR RETRIEVE DATA FROM ONE OR MORE TABLES . IT IS PRIMARILY USED FOR QUERYING AND 
             FETCHING TH DATA .
+_+ INSERT : INSERT IS USED ADDING NEW RECORDS(ROW) TO THE TABLE .
+_+ UPDATE : UPDATE IS BASICALLY USED FOR TO MODIFY THE RECORD OF THE EXISTING TABLE .
+_+ DELETE : DELETE IS USED FOR DELETE THE RECORD FROM THE TABLE BASED ON THE SPECIFIC CONDITION .


LET US TAKEING THE EXAMPLE OF THESE COMMANDS .

In [23]:
# Firstly we create an table an perform these basics 
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = db.cursor()
mycursor.execute("CREATE DATABASE panda")
mycursor.close()

True

In [27]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = db.cursor()
mycursor.execute("SHOW DATABASEs")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('newdb',)
('panda',)
('performance_schema',)
('ss',)
('sys',)
('test2',)
('tutorial',)

In [31]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = db.cursor()
mycursor.execute("CREATE TABLE if not exists panda.file(c1 INT , c2 VARCHAR(40) , c3 FLOAT , c4 VARCHAR(50))")
db.close()

In [32]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user = "root",
    password = "sitashubham75"
)
mycursor = db.cursor()
mycursor.execute("insert into panda.file values(5645 , 'sshubham_shah' , 865.565 , 'shubham_shah')")
db.commit()
db.close()
# FROM THE ABOVE THE EXAMPLE SHOWS THAT HOW WE CAN INSERT THE DATA INTO DATABASE panda

In [34]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75",
    database="panda"
)
mycursor = db.cursor()
query = "update file set c1=8758"
mycursor.execute(query)
db.commit()
print("data updated")

# from this example shows that how we can update our data with the help of UPDATE

data updated

In [28]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75",
    database="panda"
)
mycursor = db.cursor()
query = "delete from file where c1=5645"
mycursor.execute(query)
db.commit()
print("updation sucessfull")
# THIS EXAMPLE SHOWS THAT HOW WE CAN DELETE DATA FROM THE TABLE

updation sucessfull

In [35]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75"
)
mycursor = db.cursor()
mycursor.execute("SELECT * from panda.file")
for i in mycursor.fetchall():
    print(i)

(8758, 'sshubham_shah', 865.565, 'shubham_shah')

Q => WHAT IS DQL ? EXPLAIN SELECT WITH AN EXAMPLE .

^_^ DQL IS STAND FOR DATA QUERY LANGUAGE(DQL).IT IS A SUBSET OF STRUCTURED QUERY LANGUAGE(SQL) SPEICIFICALY 
    DESIGNED FOR QUERYING DATA WITHIN THE DATABASE . DQL IS PRIMARILY CONCERNED WITH RETRIEVING INFORMATION
    FROM THE DATABASES AND ITS MAIN COMMAND IS 'SELECT' STATEMENT .

*_* THE PRIMARY DQL COMMAND IS 'SELECT' WHICH IS USED TO RETRIEVE DATA FROM ONE OR MORE TABLE IN A DATABASE
    BASED ON THE SPECIFIED CRITERIA .   


LET US TAKEING THE EXAMPLE OF 'SELECT' ^_^

In [37]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sitashubham75",
    database="panda"
)
mycursor = db.cursor()
mycursor.execute("SELECT * from file")
for i in mycursor.fetchall():
    print(i)
db.close()  
# From the above the example shows that how we can fetch the all or specified data from the databases .

(8758, 'sshubham_shah', 865.565, 'shubham_shah')

Q => EXPLAIN THE PRIMARY KEY AND FOREIGN KEY .

+_+ PRIMARY KEY => PRIMARY KEY CONSTRAINT STATES THAT A FIELD/ATTRIBUTES/COLUMN CAN'T BE CONTAIN DUPLICATE
                   VALUE AND IT CAN'T BE LEFT BLANK .

+_+ FOREIGN KEY => WHEN A KEY / FIELD IN ONE TABLE IS PLAYING THE ROLE OF PRIMARY KEY AND IN THE ANOTHER
                   TABLE IT IS A NON-PRIMARY KEY THEN THE NON-PRIMARY KEY WILL BE REFFERD AS FOREIGN KEY .

THE KEY WHICH IS USED TO MAKE FOREIGN KEY IS KNOW AS 'REFERENCES'

Q6 => WRITE A PYTHON CODE TO CONNECT MYSQL TO PYTHON. EXPLAIN THE CURSOR() AND EXECUTE() METHOD .

In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="panda"
)
mycursor = db.cursor()
mycursor.execute("show database")
db.close()

# This is the Code to connect the MYSQL to the python

^_^ CURSOR => A CURSOR IS A DATABASE OBJECT THAT ALLOW US TO RETRIEVE AND MANIPULATE DATA ONE ROW AT A TIME .
              CURSOR ARE TYPICALLY USED WHEN PERFORMING OPERATONS ON EACH RESULT SET ROW , SUCH AS UPDATING
              OR DELETING . A CURSOR IS A TEMPORARY MEMORY THAT IS ALLOCATED BY THE DATABASE SERVER AT THE 
              TIME OF PERFORMING THE DATA MANIPULATION LANGUAGE OPERATIONS ONA TABLE SUCH AS INSERT , UPDATE
              AND DELETE .

^_^ EXECUTE => IN MYSQL THE EXECUTE STATEMENT EXECUTES A PREPARED STATEMENT . EXECUTE A QUERY ACTION A TOOL
               FOR BUILDING THE PROCESSES, LOGIC , AND DIRECTION WITHIN WORKFLOWS.

Q7 - GIVE THE ORDER OF EXECUTION OF SQL CLAUSES IN AN SQL QUERY .

^_^ THE ORDER OF EXECUTION OF SQL CLAUSES IN A QUERY IS DEFINED BY THE LOGICAL QUERY PROCESSING PHASE . 
    THE SQL QUERY IS LOGICALLY PROCESSED IN THE FOLLOWING ORDER :-

* FROM :- THE FROM CLAUSE SPECIFIES THE TABLE FROM WHICH TO RETRIEVE DATA .

* JOIN :- IF THERE ARE ANY JOINS IN THE QUERY , THEY ARE PROCESSED AFTER THE FORM CLAUSE . JOINS COMBINE 
          THE ROWS FROM ONE OR TWO MORE TABLES BASED ON A RELATED COULMN BETWEEN THEM .

* WHERE :- THE WHERE CLAUSE FILTERS THE ROWS BASED ON SPECIFIED CONDTIONS . ROWS THATS DO NOT SATISFY THE
           CONDITION ARE EXCLUDED .

* GROUP BY :- IF THERE IS GROUP BY CLAUSE , THE RESULT SET IS THEN GROUPED INTO SUMMARY ROWS BASED ON
              THE SPECIFIED COLUMNS . THIS IS OFTEN USED WITH AGGREGATE FUNCTIONS .

* HAVING :- THE HAVING CLAUSE FILTERS THE GROUPS ROWS BASED ON A CONDITION . IT IS
            SIMILAR TO THE WHERE CLAUSE BUT OPERATES ON GROUPED ROWS .

* SELECT :- THE SELECT CLAUSE IS THEN APPLIED TO DETERMINE WHICH COLUMNS 
            TO INCLUDE IN THE RESULT SET .

* DISTINCT :- IF THE DISTINCT KEYWORD IS USED , DUPLICATES 
              ROWS ARE ELIMINATED FROM THE RESULT SET .

* ORDER BY :- THE ORDER BY CLAUSE SORTS THE 
              RESULTS SET BASED ON THE SPECIFIC COLUMANS AND THEIR SORT ORDER.

* LIMIT/OFFSET(IF APPLICABLE) :- IF THERE IS A LIMIT CLAUSE , IT LIMIT THE NUMBER OF ROWS RETURNED . OFFSET IS USED TO SKIP THE SPEICIFIC THE NO OF ROWS